<div class="container">
    <div class="container-info">
        <h1>Seja Bem-Vindo!</h1>
        <p>Como é a sua primeira vez, sua senha deve ser redefinida</p>
    </div>
    
    <form action="/firstTime" method="post">
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirme a Senha</label>
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" required>
    </form>
</div>