<main>
    <div class="container-login">
        <form action="/auth/login" method="post">
            <h2>Login</h2>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="input-group">
                <button type="submit">Entrar</button>
            </div>

            {{#if error}}
                <div class="error-message" style="color: red;">
                    {{error}}
                </div>
            {{/if}}
        </form>
    </div>
</main>