<main>
    <section class="principal">
        <div class="container-sobre">
            <div class="biografia">
                <h2>Sobre nós</h2>
                <p>Somos um grupo de quatro integrantes: Gabriel, Vinicius, Enzo e Arthur. Nos reunimos para desenvolver um projeto para a disciplina de Tópicos de Engenharia Biomédica. Nosso objetivo é criar um sistema de monitoramento de postura que facilite o acesso a essas informações para os fisioterapeutas.</p>
            </div>
            <div class="foto-grupo">
                <img src="/images/foto-grupo.png" alt="" srcset="">
            </div>
        </div>
    </section>
</main>