   <main>
        <section class="principal">
            <div class="texto-principal">
                <h2>Monitore a Postura em Tempo Real com o ErgoSafe</h2>
                <p>Conectando pacientes e fisioterapeutas para uma reabilitação mais eficiente e segura.</p>
            </div>
        </section>
    
    </main>