<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_dash.css">
    <title>ErgoSafe</title>

    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>
<body>
<header>
    <nav class="navbar">
        <h1>Ergosafe - Admin</h1>
        <div class="dash-options">
            <ul>
                <li><a href="">Usuários</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </div>
   </nav>
</header>
    {{{body}}}
<footer>
  <p>&copy; 2025 Ergosafe. Todos os direitos reservados.</p>
  <p>
    <a href="https://github.com/gabrielxpaz/projeto-ergosafe" target="_blank">GitHub</a> |
    <a href="mailto:contato@ergosafe.com" >Contato</a>
  </p>
</footer>

<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
</body>
</html>