<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_landing.css">
    <title>ErgoSafe</title>
</head>
<body>
<header>
    <nav class="navbar">
        <h1>ErgoSafe</h1>
        <button id="hamburger"></button>
    <ul>
        <li><a href="/" class="nav-option" id="{{#if (eq currentRoute '/')}}selected{{/if}}">INÍCIO</a></li>
        <li><a href="/projeto" class="nav-option" id="{{#if (eq currentRoute '/projeto')}}selected{{/if}}">PROJETO</a></li>
        <li><a href="/sobre" class="nav-option" id="{{#if (eq currentRoute '/sobre')}}selected{{/if}}">SOBRE NÓS</a></li>
        {{#if isLoggedIn}}
        <li><a href="/dashboard" class="dash-button">Dashboard</a></li>
        <li><a href="/auth/logout" class="logout-button">Logout</a></li>
        {{else}}
        <li><a href="/login" class="login-button">LOGIN</a></li>
        {{/if}}
    </ul>
       
   </nav>
</header>
    {{{body}}}
<footer>
  <p>&copy; 2025 Ergosafe. Todos os direitos reservados.</p>
  <p>
    <a href="https://github.com/gabrielxpaz/projeto-ergosafe" target="_blank">GitHub</a> |
    <a href="mailto:contato@ergosafe.com" >Contato</a>
  </p>
</footer>
<script src="/js/script_landing.js"></script>
</body>
</html>