<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_landing.css">
    <title>ErgoSafe - Ínicio</title>
</head>
<body>
<header>
    <nav class="navbar">
        <h1>ErgoSafe</h1>
        <button id="hamburger"></button>
    <ul>
        <li ><a href="/" id="selected">INÍCIO</a></li>
        <li><a href="/projeto">PROJETO</a></li>
        <li><a href="/sobre">SOBRE NÓS</a></li>
        <li><button>LOGIN</button></li>
    </ul>
       
   </nav>
</header>
    {{{body}}}

<script src="/js/script_landing.js"></script>
</body>
</html>